<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>tests</Title>
      <Shortcut>tests</Shortcut>
      <Description>Code snippet for tests</Description>
      <Author>Tyamgin</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
    </Header>
    
    
    <Snippet>
      <Code Language="cpp">
          <![CDATA[int tests;
scanf("%d", &tests);
while (tests--)
{
	$selected$ $end$
}]]>
      </Code>
    </Snippet>

  </CodeSnippet>
</CodeSnippets>